<table id="elementLegend">
	<tbody>
		<tr>
			<td ng-if="node._type_ == 'group'"><img src="images/group.png"
				ng-click="add(node, 'group')" alt="Add a group" height="25" width="25"></td>
			<td ng-if="node._type_ == 'init' || node._type_ == 'group'"><img src="images/segment.png"
				ng-click="add(node,'')" alt="Add a segment" height="25" width="25"></td>
			<td ng-if="node._type_ == 'init'"><img src="images/group.png"
				ng-click="add(node, 'group')" alt="Add a group" height="25" width="25"></td>
			<td ng-if="node._type_ == 'segment'"><img src="images/field.png"
				ng-click="add(node, '')" alt="Add a field" height="25" width="25"></td>
			<td ng-if="node._type_ == 'field'"><img
				src="images/component.png" ng-click="add(node, '')"
				alt="Add a component" height="25" width="25"></td>
			<td ng-if="node._type_ == 'component'"><img
				src="images/subcomponent.png" ng-click="add(node, '')"
				alt="Add a subcomponent" height="25" width="25"></td>
			<td ng-if="node._type_ != 'init'"><img src="images/erase.png"
				ng-click="remove(node)" alt="delete the row" height="25"
				width="25"></td>
			</td>
	</tbody>
</table>
<form ng-if="hasClicked && (currentId == node.DemographicId )"
	ng-submit="process(node,data)">
	name: <input type="text" ng-model="data" name="data" placeholder="name" />
</form>
