
<div id="footer">
	<a href="http://www.nist.gov" target="_blank"><img
		src="images/logo_nist.gif" alt="NIST Logo"></a> <a
		href="http://www.itl.nist.gov/" target="_blank"><img
		src="images/itl-logo.jpg" alt="NIST ITL Logo"></a>
	<div style="text-align: right;">
		<p>Date Created: 9-24-13 | Date Updated:</p>
		<p>
			<a href="http://www.nist.gov/public_affairs/disclaim.cfm"
				target="_blank" title="View Disclaimer">Disclaimer</a> | <a
				href="mailto:rochb[at]nist[dot]gov"
				title="Email Website Administrator: rochb">Email Website
				Administrator</a> | <a
				href="http://www.nist.gov/public_affairs/privacy.htm"
				target="_blank" title="View Privacy Policy">Privacy/Policy</a>
		</p>
	</div>

	<br>
</div>