
<a class="logolink" href="." title="Home">
	<div id="hl7top">
		<span id="hl7">HL7</span><span id="hl7_spec">WS</span>
	</div>
</a>
<div id="hl7bot">
	<span>NIST HL7 V2 Conformance matrix Editor</span>
</div>

<ul id="subNav"></ul>
		<div id="navTab"
			class="ui-tabs ui-widget ui-widget-content ui-corner-all">

			<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
				<label for="profileSelect" style="font-weight: bold;">Select
					Profile:</label> <select id="profileSelect" ng-model="selectedProfile"
					ng-options="profile as profile.name for profile in profiles" ng-change="updatePro(selectedProfile.name)">
				</select> <br /> <label for="fileToUpload">Add a new profile :</label>

				<form name="form1" id="form1" action="fileUpload" method="post"
					enctype="multipart/form-data">
					File to upload: <input type="file" name="fileToUpload" /> <input
						type="submit" value="Upload" />
				</form>
				<button class="myButton" ng-click="createProfile()">Create
					a new Profile</button>
				<div id="divButton">
					<div ng-if="newProfile">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label"> profile's name </label>
								<div class="col-sm-10">
									<input type="text" ng-model="profileName" name="text"
										placeholder="New Profile" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default"
										ng-click="createFirst(profileName)" value="generate">Create</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

