<section class="container1">
			<section>
				<form class="form">
					<fieldset>
						<div class="form-group col-md-12" ng-show="gc.activeT(1)">
							<label class="control-label col-md-1 col-md-offset-1">Hl7 Message</label>
							<div class="controls">
								<textarea class="col-md-8 col-md-offset-1" type="text"
									ng-model="textareaText" style="min-height: 300px;"></textarea>
							</div>
							<label class="control-label col-md-1 col-md-offset-1">Username (Optional)</label>
							<div class="controls">
								<input class="col-md-8 col-md-offset-1" type="text"
									ng-model="Username" style="min-height: 50px;"></input>
							</div>
							<label class="control-label col-md-1 col-md-offset-1">FacilityID (Optional)</label>
							<div class="controls">
								<input class="col-md-8 col-md-offset-1" type="text"
									ng-model="FacilityID" style="min-height: 50px;"></input>
							</div>
							<label class="control-label col-md-1 col-md-offset-1">Password (Optional)</label>
							<div class="controls">
								<input class="col-md-8 col-md-offset-1" type="password"
									ng-model="Password" style="min-height: 50px;"></input>
							</div>
						</div>
						<div class="form-group col-md-12" ng-show="gc.activeT(2)">
							<label class="control-label col-md-1 col-md-offset-1">Test Message</label>
							<div class="controls">
								<textarea class="col-md-8 col-md-offset-1" type="text"
									ng-model="testareaText" style="min-height: 150px;"></textarea>
							</div>
						</div>
					</fieldset>
					</form>
			</section>
</section>
<body>
	<button ng-show="gc.activeT(1)" class="btn btn-warning pull-right col-md-3"
		style="margin-top: 10px;" ng-click="Ctrl.submit()">
		Validate</button>
			<button ng-show="gc.activeT(2)" class="btn btn-warning pull-right col-md-3"
		style="margin-top: 10px;" ng-click="Ctrl.test()">
		Test</button>
</body>
</br>