<section class="container1">
	<section>
		<form class="form">
			<fieldset>
				<div class="form-group col-md-12">
					<label class="control-label col-md-1 col-md-offset-1">IIS response</label>
					<br/>
					<br/>
					<br/>
					<br/>
						<div class="controls"><pre>{{result}}</pre></div>
			</div>
			</fieldset>
		</form>
	</section>
</section>