<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/script.js"></script>
<link rel="stylesheet" type="text/css"
	href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="custom/style.css">
<link rel="stylesheet" type="text/css" href="style/main.scss">

<title>EHR Validation Client</title>
</head>
<body ng-app="app" ng-controller="GeneralController as gc">
	<section class="">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#"> EHR Validation Client </a>
			</div>
		</nav>
		<div style="margin-top: 200px;">
			<alerts-area></alerts-area>
		</div>
		<div class="panel panel-default col-md-10 col-md-offset-1">
			<div class="panel-heading">EHR
				Options</div>
			<div class="panel-body">
				<div style="min-height : 300px;" class="col-md-12" ng-show="gc.isLoading()">
	  				<div>
	  					<img style="margin-top : 140px; height : 20px;" class="col-md-4 col-md-offset-4" src="./img/ajax-loader.gif"/>
	  				</div>
	  				<div>
	  					<span class="col-md-4 col-md-offset-5">{{gc.loadMsg()}}</span>
	  				</div>
	  			</div>
				<section ng-show="!gc.isLoading()">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{active: gc.activeT(1)}" ng-click="gc.activate(1)"><a href="#">Submit HL7
								Message</a></li>
						<li role="presentation" ng-class="{active: gc.activeT(2)}" ng-click="gc.activate(2)"><a href="#">Connectivity
								Test</a></li>
					</ul>
					<message ng-show="gc.activeT(1) || gc.activeT(2)"></message>
					<messageresp ng-show="gc.activeT(0)"></messageresp>
					</br>
				</section>
			</div>
		</div>
	</section>
</body>
</html>