body {

    background-image: url("../img/dark_embroidery.png");
    background-repeat: repeat-xy;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.container1 {
	min-height : 200px;
	margin-top : 20px;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px dashed #000000;
}

.container2 {
	margin-top : 20px;
	padding-top : 20px;
	padding-bottom : 20px;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px dashed #000000;
}

.space {
	margin-bottom : 10px;
}

.form {
	margin-top : 20px;
		
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
